html,
body,
#root,
.app-container,
.map-container {
    height: 100%;
    margin: 0;
    font-family: 'FreeSerif', sans-serif;
}

.place-list-item {
    color: #FFFFFF;
}

.title {
    color: #d6d6d6;
    text-align: center;
}

.place-list {
    width: 250px;
    height: calc(100% - 120px);
    position: fixed;
    background: #000000;
    margin-top: 120px;
}

.heading {
    position: fixed;
    width: 250px;
    background: #000000;
}

.filter-places {
    width: 230px;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
    border: 0;
}

.sandwich {
    position: absolute;
    z-index: 5;
    padding: 25px;
}

.sandwich img {
    width: 32px;
}

.map-container,
.sandwich {
    transition: 0.3s ease all;
}